VITE_HA_URL=http://homeassistant.local:8123
VITE_HA_TOKEN=your_long_lived_access_token
VITE_ENTITY_TEMPERATURE=sensor.esp_sklenik_teplota
VITE_ENTITY_WATER_LEVEL=binary_sensor.esp_sklenik_hladina_vody
VITE_ENTITY_HUMIDITY=sensor.esp_sklenik_vlhkost_pudy
VITE_ENTITY_WINDOW=switch.esp_sklenik_okno
VITE_ENTITY_PUMP=switch.esp_sklenik_cerpadlo
VITE_ENTITY_LIGHT=switch.esp_sklenik_svetlo
